{# empty Twig template #}
<div role="tabpanel" class="tab-pane fade" id="ImgRegistro">
    <div class="row">
        <div class="form-row col-xs-12 col-sm-12">            
            <div id="form-row add-product">
                <h2 class="text-primary text-center"><small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Agregar imagen (módulo de registro)</h2>
                <form role="form" action="{{ path("update_images_parameters") }}" method="post" enctype="multipart/form-data">                    
                    <div class="form-group col-md-4">
                        <label>Imagen de registro</label>
                        <input type="file" name="img[]" required multiple>
                        <p class="help-block">Formato de imagenes admitido png, jpg, gif, jpeg</p>
                        <input type="hidden" name="register" value="1"> 
                    </div>                    
                    <div class="form-group col-md-12">
                        <p class="text-center"><button type="submit" class="btn btn-primary">Agregar imagen</button></p>
                        <div id="res-form-add" style="width: 100%; text-align: center; margin: 0;"></div>
                    </div>                    
                </form>
            </div>
        </div>                
    </div>
</div>
{# empty Twig template #}
